{% extends "layout.html" %}

{% block title %}Book New Appointment{% endblock %}

{% block content %}
<div class="container maincontent rounded-3 my-5">
    {% if current_user.is_authenticated %}
        <h1>Browse Appointments: {{ current_user.username }}!</h1>
    {% else %}
        <h1>Browse Appointments:</h1>
    {% endif %}
    <div class="container">
        <form method="GET">
            <div class="list-group col-sm-6">
                <button formaction="/booknew/all" type="submit" class="list-group-item list-group-item-action" aria-current="true">All</button>
                <button formaction="/booknew/medical" type="submit" class="list-group-item list-group-item-action">Medical</button>
                <button formaction="/booknew/beauty" type="submit" class="list-group-item list-group-item-action">Beauty</button>
                <button formaction="/booknew/fitness" type="submit" class="list-group-item list-group-item-action">Fitness</button>
            </div>
        </form>
        <br>

        {% if cansearch %}
        <h4>Search by...</h4>
        <form id="myForm" method="GET">
            <div class="row g-3 align-items-center">
                <div class="col-sm-1">
                  <label for="keyword" class="col-form-label">Keyword</label>
                </div>
                <div class="col-sm-2">
                  <input type="text" id="keyword" class="form-control" aria-describedby="keywordnote" name="keyword" value="">
                </div>
                <div class="col-auto">
                  <span id="keywordnote" class="form-text">
                    We don't accept typos.
                  </span>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-sm-1">
                  <label for="month" class="col-form-label">Month</label>
                </div>
                <div class="col-sm-2">
                  <select class="form-select" id="month" name="month">
                    <option value="" selected></option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </div>
                <div class="col-sm-1">
                    <label for="year" class="col-form-label">Year</label>
                </div>
                <div class="col-sm-2">
                    <select class="form-select" id="year" name="year">
                        <option value="" selected></option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                      </select>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-sm-1">
                    <button type="button" class="btn btn-secondary" onclick="setFormAction()">Search!</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>

    <script>
        /* setting up query parameters for searching */
        function setFormAction() {
            // Get values from input text boxes
            var keyword = document.getElementById('keyword').value;
            var month = document.getElementById('month').value;
            var year = document.getElementById('year').value;

            // Get the current pathname of the URL
            var pathname = window.location.pathname;

            // Split the pathname by '/' and get the last part
            var parts = pathname.split('/');
            var lastPart = parts[parts.length - 1];

            // Start form action
            var formAction = '/booknew/' + lastPart + '?';

            // Append new parameters
            formAction += '&keyword=' + encodeURIComponent(keyword) + '&month=' + encodeURIComponent(month) + '&year=' + encodeURIComponent(year);

            console.log(formAction)

            // Set form action
            document.getElementById('myForm').setAttribute('action', formAction);

            // Submit form
            document.getElementById('myForm').submit();
        }
    </script>

    <br>
    
    {% if open_slots %}
        <h3>Available Slots:</h3>
        <ul style="list-style: none;">
            {% for slot in open_slots %}
                <li>
                    <form action="/booknew" method="post">
                        <div class="container">
                            <div class="card col-sm-5">
                                <div class="card-header">
                                    {{ slot.description }}
                                </div>
                                <div class="card-body">
                                    <h5>Provided by {{ slot.provider }}</h5>
                                    <!--<p>Getting Got: {{ slot.client }}</p>-->
                                    <p>Time: {{ slot.starttime.strftime('%Y-%m-%d %I:%M %p') }} - </p>
                                    <p>      {{ slot.endtime.strftime('%Y-%m-%d %I:%M %p') }}</p>
                                    <p>[{{ slot.category }}]</p>
                                    <input type="hidden" name="slot_id" value="{{ slot.id }}">
                                    <button type="submit" class="btn btn-secondary">Book It!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            {% endfor %}
        </ul><br>
        <!--<p>No appointments available.</p>-->
    {% endif %}
</div>
{% endblock %}
