<!-- home.html -->
{% extends "layout.html" %}
{% block content %}
<div>
    <p>My name is Jimmy Byrd and I am a computer science student. I have a passion for programming and have experience in languages such as Python, Java, SQL, HTML, Swift4, and C++.</p>
    <p>I have worked on several projects, including:</p>
    <ul>
        <li>Discord bots and websites for managing Nitrado hosted game servers</li>
        <li>An electronic checker board game with AI opponents</li>
        <li>Progress on a game using the unreal engine5.</li>
    </ul>
    <p>In addition to my technical skills, I am a strong team player and have excellent problem-solving abilities.</p>
</div>
{% endblock %}
