.our-nav {
    background: #491AD6;
    background: linear-gradient(to right, #221059, #7a22ff);
} 

.maincontent {
    background-color: #dedce2e8;
}

body {
    background-color: #C0BEC4 !important;
}

.dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 0;
}

#navbar.nav.nav-tabs.our-nav {
    padding-left: 10px !important;
}