<!DOCTYPE html>
<html>
    <head>
        <title>View Appointments!</title>
        <link rel="stylesheet" href="../static/index.css">

        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!--Fontawesome-->
        <script src="https://kit.fontawesome.com/1f10d8fda7.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"></script>
    </head>
    <body>
        <ul class="nav nav-pills our-nav" id="navbar" style="padding-top: 10px;">
            <li class="navbar-brand" href="/" >
                <img src="{{ url_for('static', filename='dummylogo.png') }}" alt="" width="40" height="40" style="border-radius:50%">
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" href="/">Home</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/booknew">Book New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/viewappointments">View Appointments</a>
                </li>
                {% if current_user.jobTitle is not none and current_user.qualifications is not none
                    and current_user.jobTitle != "" and current_user.qualifications != "" %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/makeslot">Make Slot</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/account">My Account</a>
                </li>
            
                {% if current_user.is_admin %}
                <li class="nav-item dropdown">
                    <a id="admin" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div id="adminMenu" class="dropdown-menu">
                        <a class="dropdown-item" href="/add">Add New User</a>
                        <a class="dropdown-item" href="/users">View All Users</a>
                        
                    </div>
                </li>
                {% endif %}
            {% endif %}
            <li class="nav-item dropdown" style="margin-left: auto;">
                <a id="log" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Log...</a>
                <div id="logMenu" class="dropdown-menu dropdown-menu-right">
                    {% if current_user.is_authenticated %}
                        <a class="dropdown-item" href="/logout">Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/signup">Sign Up</a>
                    {% endif %}
                </div>
            </li>
        </ul>

        <script>
            document.getElementById('navbar').addEventListener('click', function(event) {
                if (event.target.id === 'admin') { 
                    var adminMenu = document.getElementById('adminMenu');
                    if (adminMenu.classList.contains('show')) {
                        adminMenu.classList.remove('show');
                    } else {
                        adminMenu.classList.add('show');
                    }
                } else if (event.target.id === 'log') {
                    var logMenu = document.getElementById('logMenu');
                    if (logMenu.classList.contains('show')) {
                        logMenu.classList.remove('show');
                    } else {
                        logMenu.classList.add('show');
                    }
                }
            });
            /*
            document.getElementById('admin').addEventListener('click', function() {
                var adminMenu = document.getElementById('adminMenu');
                if (adminMenu.classList.contains('show')) {
                    adminMenu.classList.remove('show');
                } else {
                    adminMenu.classList.add('show');
                }
            });
            document.getElementById('log').addEventListener('click', function() {
                var logMenu = document.getElementById('logMenu');
                if (logMenu.classList.contains('show')) {
                    logMenu.classList.remove('show');
                } else {
                    logMenu.classList.add('show');
                }
            });
            */
        </script>

        <!-- [START] FLASH MESSAGING FOR BOOKNEW -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class = "flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!-- [END] FLASH MESSAGING FOR BOOKNEW -->

        <div class="container maincontent rounded-3 my-5">
            {% if current_user.is_authenticated %}
            <h1>Browse Appointments: {{ current_user.username }}!</h1>
            {% else %}
            <h1>Browse Appointments:</h1>
            {% endif %}

            <!--
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Appt Type
                </button>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">Select an Appointment Category</h6></li>
                    <li><a class="dropdown-item" href="#">Medical</a></li>
                    <li><a class="dropdown-item" href="#">Beauty</a></li>
                    <li><a class="dropdown-item" href="#">Fitness</a></li>
                </ul>
            </div>
            -->


            <div class="container">
                <!--
                <ul class="list-group col-sm-6">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Medical
                      <span class="badge text-bg-primary rounded-pill">14</span> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Beauty
                      <span class="badge text-bg-primary rounded-pill">2</span> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Fitness
                      <span class="badge text-bg-primary rounded-pill">1</span> 
                    </li>
                </ul>
                -->

                <form method="GET">
                    <div class="list-group col-sm-6">
                        <button formaction="/booknew/all" type="submit" class="list-group-item list-group-item-action" aria-current="true">
                            Select an Appointment Category | All
                        </button>
                        <button formaction="/booknew/medical" type="submit" class="list-group-item list-group-item-action">Medical</button>
                        <button formaction="/booknew/beauty" type="submit" class="list-group-item list-group-item-action">Beauty</button>
                        <button formaction="/booknew/fitness" type="submit" class="list-group-item list-group-item-action">Fitness</button>
                    </div>
                </form>
                <br>

                {% if cansearch %}
                <h4>Search by...</h4>
                <form id="myForm" method="GET">
                    <div class="row g-3 align-items-center">
                        <div class="col-sm-1">
                          <label for="keyword" class="col-form-label">Keyword</label>
                        </div>
                        <div class="col-sm-2">
                          <input type="text" id="keyword" class="form-control" aria-describedby="keywordnote" name="keyword" value="">
                        </div>
                        <div class="col-auto">
                          <span id="keywordnote" class="form-text">
                            We don't accept typos.
                          </span>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-sm-1">
                          <label for="month" class="col-form-label">Month</label>
                        </div>
                        <div class="col-sm-2">
                          <input type="text" id="month" class="form-control" name="month" value="">
                        </div>
                        <div class="col-sm-1">
                            <label for="year" class="col-form-label">Year</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" id="year" class="form-control" name="year" value="">
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-secondary" onclick="setFormAction()">Search!</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>

            <script>
                /* setting up query parameters for searching */
                function setFormAction() {
                    // Get values from input text boxes
                    var keyword = document.getElementById('keyword').value;
                    var month = document.getElementById('month').value;
                    var year = document.getElementById('year').value;

                    // Get the current pathname of the URL
                    var pathname = window.location.pathname;

                    // Split the pathname by '/' and get the last part
                    var parts = pathname.split('/');
                    var lastPart = parts[parts.length - 1];

                    // Start form action
                    var formAction = '/booknew/' + lastPart + '?';

                    // Append new parameters
                    formAction += '&keyword=' + encodeURIComponent(keyword) + '&month=' + encodeURIComponent(month) + '&year=' + encodeURIComponent(year);

                    console.log(formAction)

                    // Set form action
                    document.getElementById('myForm').setAttribute('action', formAction);

                    // Submit form
                    document.getElementById('myForm').submit();
                }
            </script>

            <br>


            {% if open_slots %}
                <h3>Available Slots:</h3>
                <ul style="list-style: none;">
                    {% for slot in open_slots %}
                        <li>
                            <form action="/booknew" method="post">
                                <div class="container">
                                    <div class="card col-sm-5">
                                        <div class="card-header">
                                            {{ slot.description }}
                                        </div>
                                        <div class="card-body">
                                            <h5>Provided by {{ slot.provider }}</h5>
                                            <p>Time: {{ slot.starttime }} - {{ slot.endtime }}</p>
                                            <p>[{{ slot.category }}]</p>
                                            <input type="hidden" name="slot_id" value="{{ slot.id }}">
                                            <button type="submit" class="btn btn-secondary">Book It!</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    <!--
                        <li>
                            -----------------------------------------<br>
                            <form action="/booknew" method="post">
                                Description: {{ slot.description }}<br>
                                Provider: {{ slot.provider }}<br>
                                Client: {{ slot.client }}<br>
                                Start: {{ slot.starttime }}<br>
                                End: {{ slot.endtime }}<br>
                                <input type="hidden" name="slot_id" value="{{ slot.id }}">
                                <button type="submit">Book This Slot</button>
                            </form>
                            -----------------------------------------<br>
                        </li>
                    -->
                    {% endfor %}
                </ul><br>
                <!--<p>No appointments available.</p>-->
            {% endif %}
<!--             {% if open_slots %}
                <h3>Provider Slots:</h3>
                <ul>
                    {% for pslot in open_slots %}
                        <li>Description</li>
                        <li>{{ pslot.description }}</li>
                        <li>Provider</li>
                        <li>{{ pslot.provider }}</li>
                        <li>Client</li>
                        <li>{{ pslot.client }}</li>
                        <li>Start</li>
                        <li>{{ pslot.starttime }}</li>
                        <li>End</li>
                        <li>{{ pslot.endtime }}</li>
                    {% endfor %}
                </ul><br>
            {% else %}
                <p>No appointments available.</p>
            {% endif %} -->
        </div>

    </body>
</html>
