<!-- home.html -->
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>CS341Proj - Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <p>Welcome to this extremely epic homepage!</p>
        <a href="/add" id = "addButton"style="display:inline-block; margin-top:20px; padding:10px; background-color:blue; color:white; text-decoration:none; border-radius:5px;" target="_blank">Add User</a>
        <a href="/users" id = "usersButton" style="display:inline-block; margin-top:20px; padding:10px; background-color:blue; color:white; text-decoration:none; border-radius:5px;" target="_blank">View All Users</a>
    </body>
</html>

   

