<!--Note from Tarren: Deleted unused "home.html" but kept local backup of file in case needed-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>It's A Calendar!</title>
        <link rel="stylesheet" href="../static/index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/1f10d8fda7.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"></script>
    </head>
    <body>

        <div class="collapse" id="navbarToggleExternalContent">
            <div class="our-nav p-4">
                <div class="container our-nav">
                    <a class="navbar-brand" href="#">
                    <img src="../dummylogo.png" alt="" width="40" height="40" style="border-radius:50%">
                    </a>
                </div>
                <a href = "/" class = "nav-link text-white">Home</a>
                <a href = "/add" class = "nav-link text-white">Add New User</a>
                <a href = "/users" class = "nav-link text-white">View All Users</a>
                <a href = "/login" class = "nav-link text-white">Login</a>
            </div>
        </div>
        <nav class="navbar navbar-dark our-nav">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- [START] FLASH MESSAGING FOR INDEX
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
			            <li class = "flash {{ category }}">{{ message }}</li>
		            {% endfor %}
                </ul>
            {% end if %}
        {% endwith %}
         [END] FLASH MESSAGING FOR INDEX -->
        
        <div class="container maincontent rounded-3 my-5">
            <h1>Home</h1>
            <p>Welcome to this extremely epic homepage!</p>
            <p> <!--Placeholder text for testing scrolling effects [START]-->
                Bacon ipsum dolor amet alcatra pork swine chuck flank leberkas pork belly fatback. 
                Cupim capicola biltong cow alcatra pork chop. 
                Ham sausage turkey cupim prosciutto ham hock boudin ground round shoulder venison t-bone shank ribeye pancetta short loin. 
                Shoulder shank fatback leberkas, corned beef filet mignon ball tip tail hamburger cupim beef salami bacon strip steak spare ribs. 
                Buffalo kielbasa venison sausage ground round salami chislic swine jowl. 
                Meatball pork chop shankle leberkas salami corned beef, cow jowl jerky turducken. 
                Shank landjaeger pork loin, pork fatback swine filet mignon short ribs short loin bresaola drumstick.
            </p>
            <p>
                Sausage turkey shoulder tongue, ham prosciutto jowl pig tail tri-tip corned beef. 
                Ribeye swine fatback, alcatra sausage rump jerky ham hock cupim. Prosciutto pork chop chicken alcatra. 
                Filet mignon cupim chislic chuck ball tip shoulder beef alcatra pork belly buffalo venison short ribs biltong. 
                Porchetta tongue leberkas pastrami ham hock landjaeger chuck, short ribs beef ribs turducken pork. Kevin jerky biltong boudin. 
                Cupim fatback kielbasa ribeye salami.
            </p>
            <p>
                Quisque luctus pellentesque nulla euismod ultricies. In sodales quam ultrices molestie tincidunt. Nulla ac dui nisi. 
                Suspendisse scelerisque tincidunt blandit. Ut eleifend faucibus dapibus. Suspendisse a ex hendrerit, congue ligula at, vulputate nulla. 
                Maecenas nisi felis, hendrerit at lectus ut, dictum dignissim felis. Praesent lacinia ullamcorper maximus. Mauris at mauris nibh. 
                Aenean suscipit erat sed nulla vehicula pretium. Mauris iaculis, erat at sagittis consectetur, purus dui tincidunt erat, quis consequat urna nisl quis nunc. 
                Sed quis lectus ut quam tristique imperdiet non in dolor. Sed interdum velit ac sagittis posuere. 
                Nunc vestibulum, sem vel ultrices iaculis, quam dolor congue purus, ac laoreet libero purus quis orci.
            </p>
            <p>
                Praesent eget egestas ligula. Sed porta interdum condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer malesuada turpis arcu, in luctus neque aliquam eget. Sed vitae hendrerit leo. Duis a nisl tristique, dictum nisl ut, vulputate nibh. 
                Vestibulum sollicitudin, lorem at faucibus facilisis, quam lectus placerat dolor, vel egestas magna magna a diam. 
                Morbi a elementum arcu, eu sagittis ipsum. Proin at finibus velit. Etiam condimentum est ac purus lobortis luctus. 
                Suspendisse pretium metus ac ex auctor, eget facilisis orci pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                Suspendisse rutrum ligula id pharetra malesuada. Curabitur pulvinar quam condimentum, tincidunt risus quis, ultricies nunc. 
                Mauris eget ligula eu augue tristique tristique.
            </p>
            <p>
                Nulla quis iaculis ante, sed scelerisque turpis. Aenean nunc ex, hendrerit non bibendum sit amet, commodo ut magna. 
                Sed sodales semper nisl, in scelerisque leo vehicula sit amet. In a turpis sed nisi dapibus pellentesque. Aenean eu interdum neque. 
                Suspendisse potenti. In id turpis sit amet odio finibus lacinia. Ut pharetra porta nisi in rutrum. Pellentesque semper mollis lacus nec porta. 
                Praesent sollicitudin turpis dolor, sed egestas justo vehicula nec. Pellentesque id nunc sit amet ipsum ullamcorper placerat. Morbi vitae sagittis urna. 
                Duis rhoncus diam lectus, mollis consequat purus venenatis a. Mauris convallis malesuada efficitur.
            </p> 
            <p>
                Nulla quis iaculis ante, sed scelerisque turpis. Aenean nunc ex, hendrerit non bibendum sit amet, commodo ut magna. 
                Sed sodales semper nisl, in scelerisque leo vehicula sit amet. In a turpis sed nisi dapibus pellentesque. Aenean eu interdum neque. 
                Suspendisse potenti. In id turpis sit amet odio finibus lacinia. Ut pharetra porta nisi in rutrum. Pellentesque semper mollis lacus nec porta. 
                Praesent sollicitudin turpis dolor, sed egestas justo vehicula nec. Pellentesque id nunc sit amet ipsum ullamcorper placerat. Morbi vitae sagittis urna. 
                Duis rhoncus diam lectus, mollis consequat purus venenatis a. Mauris convallis malesuada efficitur.
            </p>
            <p>
                Nulla quis iaculis ante, sed scelerisque turpis. Aenean nunc ex, hendrerit non bibendum sit amet, commodo ut magna. 
                Sed sodales semper nisl, in scelerisque leo vehicula sit amet. In a turpis sed nisi dapibus pellentesque. Aenean eu interdum neque. 
                Suspendisse potenti. In id turpis sit amet odio finibus lacinia. Ut pharetra porta nisi in rutrum. Pellentesque semper mollis lacus nec porta. 
                Praesent sollicitudin turpis dolor, sed egestas justo vehicula nec. Pellentesque id nunc sit amet ipsum ullamcorper placerat. Morbi vitae sagittis urna. 
                Duis rhoncus diam lectus, mollis consequat purus venenatis a. Mauris convallis malesuada efficitur.
            </p>
            <p>
                Nulla quis iaculis ante, sed scelerisque turpis. Aenean nunc ex, hendrerit non bibendum sit amet, commodo ut magna. 
                Sed sodales semper nisl, in scelerisque leo vehicula sit amet. In a turpis sed nisi dapibus pellentesque. Aenean eu interdum neque. 
                Suspendisse potenti. In id turpis sit amet odio finibus lacinia. Ut pharetra porta nisi in rutrum. Pellentesque semper mollis lacus nec porta. 
                Praesent sollicitudin turpis dolor, sed egestas justo vehicula nec. Pellentesque id nunc sit amet ipsum ullamcorper placerat. Morbi vitae sagittis urna. 
                Duis rhoncus diam lectus, mollis consequat purus venenatis a. Mauris convallis malesuada efficitur.
            </p> <!--Placeholder text for testing scrolling effects [END]-->
        </div>

    </body>
</html>
